<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 300, crop: :fill %>')">
  <h2>
  <%= @list.name %>
  </h2>
</div>


<div class="container">
  <h1 class="movie-header">Movies</h1>
  <div class="row">
    <% @list.bookmarks.each do |bookmark| %>
      <div class="col-6 movie-show-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= bookmark.movie.poster_url %>')">
      </div>
      <div class="col-6 movie-show-content">
        <h3>
          <%= bookmark.movie.title %>
        </h3>
        <p>
        <%= bookmark.movie.overview %>
        </p>
        <p>"<%= bookmark.comment %>" - <%= bookmark.created_at.strftime('%Y-%m-%d') %>
       </p>
       <p>
          <%= link_to 'Delete bookmark', bookmark_path(bookmark), method: :delete, data: { confirm: 'Delete this bookmark?' }  %>
       </p>

      </div>
    <% end %>
  </div>

  <div>
    <%= link_to 'Delete this list', list_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

<!--   <p>
    # <%#= link_to "Add a new bookmark", new_list_bookmark_path(@list) %>
  </p> -->
</div>

<div class="container" id="new-movie">
  <h3 class="mt-4">Add a Movie</h3>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie, input_html: { class: 'select2' }  %>
    <%= f.button :submit %>
  <% end %>
</div>

